<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Client</servlet-name>
        <servlet-class>Servlets.Client</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Servlets.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notebook</servlet-name>
        <servlet-class>Servlets.Notebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Servlets.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ONotebook</servlet-name>
        <servlet-class>Servlets.ONotebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Material</servlet-name>
        <servlet-class>Servlets.Material</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventory</servlet-name>
        <servlet-class>Servlets.Inventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvancedHome</servlet-name>
        <servlet-class>Servlets.AdvancedHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriorityOrders</servlet-name>
        <servlet-class>Servlets.PriorityOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HighestOrders</servlet-name>
        <servlet-class>Servlets.HighestOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HighestBenefit</servlet-name>
        <servlet-class>Servlets.HighestBenefit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialsToNotebooks</servlet-name>
        <servlet-class>Servlets.MaterialsToNotebooks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Client</servlet-name>
        <url-pattern>/Client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notebook</servlet-name>
        <url-pattern>/Notebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ONotebook</servlet-name>
        <url-pattern>/ONotebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Material</servlet-name>
        <url-pattern>/Material</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventory</servlet-name>
        <url-pattern>/Inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvancedHome</servlet-name>
        <url-pattern>/AdvancedHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriorityOrders</servlet-name>
        <url-pattern>/PriorityOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HighestOrders</servlet-name>
        <url-pattern>/HighestOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HighestBenefit</servlet-name>
        <url-pattern>/HighestBenefit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialsToNotebooks</servlet-name>
        <url-pattern>/MaterialsToNotebooks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
